<!-- Hero -->
<div class="bg-neutral-900">
  <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-24">
    <h1 class="font-semibold text-white text-5xl md:text-6xl">
      <span class="text-[#ff0] ">Rexsy Bima TW : </span>Python Programmer from Indonesia
    </h1>
    <div class="max-w-4xl">
      <p class="mt-5 text-neutral-400 text-lg">I am a skilled Python programmer with expertise in Django, Flask, and building scalable applications. I specialize in web scraping using BeautifulSoup4 and Scrapy, and have experience with Langchain for integrating language models. My focus is on delivering efficient, innovative solutions through clean and effective code.</p>
    </div>
  </div>
</div>
<!-- End Hero -->

<!-- Clients -->
<div class="relative overflow-hidden pt-4 bg-neutral-900">
  <div class="relative z-10">
    <div class="max-w-5xl px-4 xl:px-0 mx-auto">
      <div class="mb-4">
        <h2 class="text-neutral-400">Trusted by Many Client from Domestic and Overseas</h2>
      </div>

  </div>
</div>
<!-- End Clients -->