<!-- Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
  <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2012 - 2013
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Scraping for sg.iherb.com
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
        Upwork Client
    </p>
  </div>

  <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2009 - 2012
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Scraping shopee.sg
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
        Upwork Client
    </p>
  </div>
</div>
<!-- End Grid -->
<div class="grid grid-rows-5 grid-flow-col gap-4">
  <div>01</div>
  <div>01</div>
  <div>01</div>
  <div>01</div>
  <div>01</div>
  <div>01</div>
  <div>01</div>
  <div>01</div>
  <div>09</div>
</div>